/*
Colours scheme
Dark-blue :#0C4A60 
Orange: #EF6C33
Cyan: #ABDFF1
Blue-gray: #A3B4C8
*/

body{
    background: #A3B4C8;
    padding: 0;
    margin: 0;
}

#logo {
    height: 5em;
    width: 5em;
}

footer {
    border: #0C4A60;
}

#cookie {
    position: fixed;
    bottom: 0;
    right: 0;
    background: #FA0;
    opacity: 50%;
}

#cookie a {
    color: #FFF;    
}

.nav-bar{
    background: #0C4A60;
    display: flex;    
    align-items: center;
} 

.nav-bar li {    
    background: #EF6C33;
    list-style-type: none;
    margin: 0px 10px;
    padding: 10px;
}

.nav-bar a {
    text-decoration: none;
    color: #E1DDDB;
}

video {
    pointer-events: none;
    width: 100%;
}

.navigation { grid-area: nav; }
#index-products { grid-area: products; }
#index-video { grid-area: video; }
#index-aside { grid-area: aside; }
#index-footer { grid-area: footer; }

#index-content {
    display: grid;
    grid-template-areas:
    'nav nav nav nav'
    'video video video video'
    'products products products aside'    
    'footer footer footer  footer';
}

#index-content > section, nav {
    background: #ffffff;
}

.product-img , .hsw-product-img{
    max-width: 10em;
    height: auto;
}

.home-product h2 { grid-area: head; }
.home-product p { grid-area: desciption; }
.home-product img { grid-area: img; }


.home-product {
    display: grid;
    grid-template-areas:
    'head head head'
    'desciption desciption img';
    grid-gap: 20px;
    padding: 20px;
}

#hsw-articles { grid-area: articles; }
#hsw-aside { grid-area: aside; }


#hsw-content > section {
    background: #ffffff;
}

#hsw-content {
    display: grid;
    grid-template-areas:
    'nav nav nav nav'
    'articles articles articles articles'
    'aside aside aside aside'
    'footer footer footer footer';    
}

.hsw-article1 { grid-area: article1; background: lightgray; }
.hsw-article2 { grid-area: article2; background: gray; }
.hsw-article3 { grid-area: article3; background: lightgray; }
.hsw-article4 { grid-area: article4; background: gray; }
.hsw-article5 { grid-area: article5; background: lightgray; }
.hsw-article6 { grid-area: article6; background: gray; }

#hsw-articles{
    display: grid;
    grid-template-areas: 
    'article2 article1 article3'
    'article5 article1 article4'
    'article5 article6 article6';
    grid-gap: 10px;
    padding: 10px;
}

#hsw-articles > article {
    padding: 10px;
}

#EUsolar-article {
    border: ridge;
    padding: 10px;
}

#EUsolar-article { grid-area: article;}
#EUsolar-table { grid-area: solarTable;}
#EUsolar-aside { grid-area: aside; }

#EUsolar-content {
    display: grid;
    grid-template-areas:
    'nav nav nav'
    'article article article'
    'solarTable solarTable aside'
    'footer footer footer';
    grid-gap: 20px;
}

#EUsolar-content > section {
    background: #ffffff;
}

table, form {grid-area: 1/1;}

#EUS-prodcuts, #contact-prodcuts { grid-area: 1/2;
    display: flex;
    flex-direction: column;    
}

#EUS-prodcuts a { 
    margin: 20px;
}

td {
    width: 70px;
    padding: 5px;
    background: lightgray;
}

.top-data-bar {
    background: #FA0;
}

.side-data-bar {
    background: #ABDFF1;
}

#contact-contact { grid-area: contact;}
#contact-form { grid-area: form;}
#contact-aside { grid-area: aside;}

#contact-content {
    display: grid;
    grid-template-areas:
    'nav nav nav'
    'contact contact contact'
    'form form aside'
    'footer footer footer';
    grid-gap: 10px;
}

#contact-content > section {
    background: #ffffff;
}

#EUsolar-aside, #contact-aside, #hsw-aside {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;    
}

.nav-mobile {
    display: none;
}

@media only screen and (max-width: 600px) {
    .nav-mobile {
        display: block;        
    }

    .nav-desktop {
        display: none;
    }
}